- name: Stop Minecraft
  ansible.builtin.import_role: 
    name: minecraft
    tasks_from: stop_minecraft
- name: Install TMux
  ansible.builtin.dnf:
    name: tmux
  become: true
- name: Open Firewall TCP
  ansible.posix.firewalld:
    port: '{{ minecraft_port }}/tcp'
    permanent: true
    state: enabled
    immediate: true
  become: true
- name: Open Firewall UDP
  ansible.posix.firewalld:
    port: '{{ minecraft_port }}/udp'
    permanent: true
    state: enabled
    immediate: true
  become: true
- name: Load Modpack
  ansible.posix.synchronize:
    dest: ~/{{ modpack }}
    src: modpacks/{{ modpack }}/
- name: Load Shared Components
  ansible.posix.synchronize:
    dest: ~/{{ modpack }}
    src: Shared_Server_Components/
- name: Load Server Properties
  ansible.builtin.template:
    src: server.properties.j2
    dest: ~/{{ modpack }}
- name: Make Service Directory
  ansible.builtin.file:
    path: ~/.config/systemd/user
    state: directory
- name: Load Minecraft Service
  ansible.builtin.template:
    src: minecraft.service.j2
    dest: ~/.config/systemd/user/{{ modpack }}.service
- name: Ensure Server Won't Run
  ansible.builtin.lineinfile:
    line: RUN_SERVER=false
    regexp: '^RUN_SERVER='
    path: ~/{{ modpack }}/variables.txt
- name: Install Server Dependencies
  ansible.builtin.expect:
    command: bash /home/{{ ansible_user }}/{{ modpack }}/start.sh
    responses: 
      .*I agree.*: "I agree"
- name: Allow Server to Run
  ansible.builtin.lineinfile:
    line: RUN_SERVER=true
    regexp: '^RUN_SERVER='
    path: ~/{{ modpack }}/variables.txt
- name: Start Minecraft
  ansible.builtin.import_role: 
    name: minecraft
    tasks_from: start_minecraft
