- name: Import Variables
  ansible.builtin.include_role:
    name: '{{ minecraft_settings.modpack }}'
    public: true
- name: Overwrite Default Variables
  ansible.builtin.set_fact:
    minecraft_settings: '{{ default_minecraft_settings | ansible.builtin.combine(default_minecraft_modpack_settings | default([]), minecraft_settings | default([])) }}'
- name: Stop Minecraft
  ansible.builtin.import_role: 
    name: minecraft
    tasks_from: stop_minecraft
    public: true
- name: Install TMux
  ansible.builtin.dnf:
    name: tmux
  become: true
- name: Open Firewall TCP
  ansible.posix.firewalld:
    port: '{{ minecraft_settings.server_port }}/tcp'
    permanent: true
    state: enabled
    immediate: true
  become: true
- name: Open Firewall UDP
  ansible.posix.firewalld:
    port: '{{ minecraft_settings.server_port }}/udp'
    permanent: true
    state: enabled
    immediate: true
  become: true
- name: Load Modpack
  ansible.posix.synchronize:
    dest: /usr/local/bin/{{ minecraft_settings.modpack }}
    src: '{{ role_path }}/../{{ minecraft_settings.modpack }}/files/'
  become: true
- name: Load Shared Components
  ansible.posix.synchronize:
    dest: /usr/local/bin/{{ minecraft_settings.modpack }}
    src: .
  become: true
- name: Load Server Properties
  ansible.builtin.template:
    src: server.properties.j2
    dest: /usr/local/bin/{{ minecraft_settings.modpack }}/server.properties
  become: true
- name: Load Minecraft Service
  ansible.builtin.template:
    src: minecraft.service.j2
    dest: /etc/systemd/system/{{ minecraft_settings.modpack }}.service
  become: true
- name: Ensure Server Won't Run
  ansible.builtin.lineinfile:
    line: RUN_SERVER=false
    regexp: '^RUN_SERVER='
    path: /usr/local/bin/{{ minecraft_settings.modpack }}/variables.txt
  become: true
- name: Install Server Dependencies
  ansible.builtin.expect:
    command: bash /usr/local/bin/{{ minecraft_settings.modpack }}/start.sh
    responses: 
      .*I agree.*: "I agree"
  become: true
- name: Allow Server to Run
  ansible.builtin.lineinfile:
    line: RUN_SERVER=true
    regexp: '^RUN_SERVER='
    path: /usr/local/bin/{{ minecraft_settings.modpack }}/variables.txt
  become: true
- name: Start Minecraft
  ansible.builtin.import_role: 
    name: minecraft
    tasks_from: start_minecraft
    public: true
